@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:red"></body>



<div class="text-center">
    <h1 class="display-4">Welcome To Antoine's Candy Shop</h1>


    <p><strong>WE HAVE THE BEST CANDY IN THE WHOLE WORLD</strong><a href="https://docs.microsoft.com/aspnet/core">where you can order from across the globe</a>.</p>
</div>
<div><p>WE HAVE 100 FLAVORS OF<mark> TOOSTIE ROLLS,FRUITIES,CHEWS,BUBBLEGUMS</mark></p></div>
<div><p> WE HAVE ALL OF YOUR CHILDHOOD <mark>POTATO CHIPS,FLAMING HOTS </mark></p></div>
<div><p>WE HAVE THE WORLDS FINEST<mark>CHOCALATE </mark> </p></div>
<body>
    <img src="https://mail.google.com/mail/u/0?ui=2&ik=bbe59d771b&attid=0.1&permmsgid=msg-f:1646205369601152811&th=16d87f0fca6ad72b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8nm6A0YpFw9dj0hx6JTfoiaP3Jjjm5GArOe2BFuJDSqFPy7ak8TXGMA3Od6Gprop61irWovJtaXuf-aWnsqsSg0aR3Av_dAE1qVfcWaocKHsnm5COHVu67uZ4&disp=emb" alt="Alternate Text" />
</body>
<body> <img src="https://mail.google.com/mail/u/0?ui=2&ik=bbe59d771b&attid=0.2&permmsgid=msg-f:1646205369601152811&th=16d87f0fca6ad72b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ84eJiCyLBwkbZS0k6yusQggvYX3wk6uPlu9sMDtcUqx0YZ7aRBfnPd5W6gH3iybyN59WaGIid1Wa0DmxMDdUXP_iwo5pRDNxShJWeeVyLPwvU6t-d0MIohbLw&disp=emb" alt="Alternate Text" /></body>
<body> <img src="https://mail.google.com/mail/u/0?ui=2&ik=bbe59d771b&attid=0.3&permmsgid=msg-f:1646205369601152811&th=16d87f0fca6ad72b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8i5RjccFZM6sT87cvr7emC4aoWIjBQKbLiSi9U4HCGPs-AFCRqD3Lun_EIZsbcmK3OoWRRlQT8Xe520DGu3SdJ4gc5JznYoUPymVoz8W73jHteKLghQ0HmS6w&disp=emb" alt="Alternate Text" /></body>
<body><img src="https://mail.google.com/mail/u/0?ui=2&ik=bbe59d771b&attid=0.4&permmsgid=msg-f:1646205369601152811&th=16d87f0fca6ad72b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8U1CU48euTFfqnbOy9Ch5E6thU0oJW2ueRMzJj8HOsCnlJuY1ejZH154jBNdGGztW33osHonSbFPMd3iWkncC1Az2LKhrKZvaN6YYLcFiO8gx85CuthQDLtWM&disp=emb" alt="Alternate Text" /></body>
<body> <img src="https://mail.google.com/mail/u/0?ui=2&ik=bbe59d771b&attid=0.5&permmsgid=msg-f:1646205369601152811&th=16d87f0fca6ad72b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_RlRZlJiDCSncSnQ-CSRapU1dQANvdlTx-GvnlpFQuPSIizhHTeU4VvZdr8ZfuhapISyYFMn_Y4P__1TYRldoUq90-QMyfTsDyEDnyKT2MhUnz5e2a7lfKnhA&disp=emb" alt="Alternate Text" /></body>

